# VARify


## Workflow


<img src="wf.png" width="600">

## Exploring Data

In [39]:
import pandas as pd

# mpileup 
mp = pd.read_table('../data/test/mpiletest-out.txt', header=None)
mp = mp.rename(columns={1:"snp_pos", 4:"pileup"})

# custom out file
cf = pd.read_table('../data/test/snp_out.txt')

## Merging the two dataframes together

In [50]:
sub_mp = mp[['snp_pos','pileup']]
pd.merge(cf, sub_mp, on='snp_pos')

,chr_id,snp_pos,ref_allele,alt_allele,gene_id,mrna_id,prot_id,strand,effect,snp_cds_pos,codon1_genome_pos,codon2_genome_pos,codon3_genome_pos,snp_aa_pos,ref_codon,alt_codon,ref_aa,alt_aa,pileup
0,chr1,523,A,T,seq1,seq1.1,seq1.1,+,synonymous,267,521,522,523,89,GTA,GTT,E,E,tTTTTTTTTCTTtTTtTCtTtTttC

## Split Dataframe

Splitting the snpeff table by codons, get genome position and alt/ref codon

In [41]:
columns = ['snp_cds_pos', 'codon1_genome_pos', 'codon2_genome_pos', 'codon3_genome_pos', 'ref_codon', 'alt_codon']
cf[columns]

,snp_cds_pos,codon1_genome_pos,codon2_genome_pos,codon3_genome_pos,ref_codon,alt_codon
0,267,521,522,523,GTA,GTT

In [179]:
l = str(merged_var['pileup'][0])
# make upper
l = l.upper() # just to make simple

# Get list of unique
a = [i for i in l]
a_unique = list(set(a)) 

# # if >2 throw error
# if len(a_unique) > 2: 
#     print("More than 2 SNPs are at location.")
# else:
    
# create a dictionary
snp_dict = {}
df = pd.DataFrame

ref = [i for i in cf['ref_codon'][0]]

In [189]:
ref = [i for i in cf['ref_codon'][0]]

In [193]:
for snp in a_unique:
    for i in range(len(r)):
        print(ref)
        print(i, r[i])
        
        r[i] = snp
        print(r)
        snp_dict[f"var_{snp}_codon{i+1}"] = r
        r = ref


        
print(snp_dict)

['G', 'T', 'A']
0 G
['T', 'T', 'A']
['T', 'T', 'A']
1 T
['T', 'T', 'A']
['T', 'T', 'A']
2 A
['T', 'T', 'T']
['T', 'T', 'T']
0 T
['C', 'T', 'T']
['C', 'T', 'T']
1 T
['C', 'C', 'T']
['C', 'C', 'T']
2 T
['C', 'C', 'C']
{'var_T_codon1': ['C', 'C', 'C'], 'var_T_codon2': ['C', 'C', 'C'], 'var_T_codon3': ['C', 'C', 'C'], 'var_C_codon1': ['C', 'C', 'C'], 'var_C_codon2': ['C', 'C', 'C'], 'var_C_codon3': ['C', 'C', 'C']}

In [136]:
import pandas as pd

def combine(x):
    return print(*x, sep='')

# combine(snp_dict['snp1'])

df = pd.DataFrame()

df['varify_alt_allele'] = snp

'C'

## Building class object

### To Do
* [x] output comparison
* [ ] Type Effect
* [ ] Make into Function
* [ ] Build larger test data
* [ ] Nextflow with Assembly/Sam to mpileup


### Notes
**Test Data:**
* Take processed mRNA transcript (FASTA) —> VCF w/ 2-3 SNPS

**Process:** 
* RNA FASTA -align to genome using gmap->SAM/BAM—>BAM -variantcalling-> VCF —> Capture Variants
* DNA FASTA -align to genome using gmap->SAM/BAM—>BAM -variantcalling-> VCF —> Capture Variants |—> Compare RV and GV

In [11]:
top_snp = majorSNP(merged_var)
top_strand = strand(top_snp)

In [18]:
snp_dict = {'confirmed_snp' : top_snp, 'confirmed_strand' : strand}
merged_var['confirmed_snp'] = top_snp
merged_var['confirmed_strand'] = top_strand

# proposed final output
merged_var.drop(columns='pileup')

,chr_id,snp_pos,ref_allele,alt_allele,gene_id,strand,effect,confirmed_snp,confirmed_strand
0,chr1,523,A,T,seq1,+,synonymous,T,+

In [ ]:
# majority snp
# class VARify():
def split(word):
    return list(word)

def majorSNP(merged_var):
    n=0
    arr = split(merged_var['pileup'][n])
    
    snps = pd.Series(arr).drop_duplicates().tolist()
    
    count = dict.fromkeys(snps, 0)

    for snp_key in snps:
        for arr_key in arr: 
            if snp_key == arr_key: 
                count[snp_key] = count.get(snp_key, 0) + 1
                
    top_snp = sorted(count)[0]
    return top_snp

# strand
def strand(x):
    pos = ['A','C','T','G', 'N']
    rev = ['a','c','t','g', 'n']
    if x in pos:
        return '+'
    if x in rev:
        return '-'
    
# grab all snps
def uniqueSNP():
    # get the list of SNPs
    
    # split into unique