# Scratch

In [10]:
import pandas as pd

# mpileup 
mp = pd.read_table('../data/test/mpiletest-out.txt', header=None)

# custom file
cf = pd.read_table('../data/test/snp_out.txt')

In [6]:
mp

,0,1,2,3,4,5,6
0,seq1,521,G,26,".,...........,..,..,.,.,,^].",DJJJJJJJJJJJJJJJJJJJJJJJA7,]]]]]]]]]]]]]]]]]]]]]]]]]]
1,seq1,522,T,25,",...........,..,..,.,.,,.",JJJJJJJJJJJJJJJJJJJJJJJA7,]]]]]]]]]]]]]]]]]]]]]]]]]
2,seq1,523,A,25,tTTTTTTTTTTTtTTtTTtTtTttT,JJJJJJJJJJJJJJJJJJJJJJJA7,]]]]]]]]]]]]]]]]]]]]]]]]]
3,seq1,524,C,27,",...........,..,..,.,.,,...",JJJJJJJJJJJJJJJJJJJJJJJJG88,]]]]]]]]]]]]]]]]]]]]]]]]]]]

In [11]:
cf

,chr_id,snp_pos,ref_allele,alt_allele,gene_id,mrna_id,prot_id,strand,effect,snp_cds_pos,codon1_genome_pos,codon2_genome_pos,codon3_genome_pos,snp_aa_pos,ref_codon,alt_codon,ref_aa,alt_aa
0,chr1,523,A,T,seq1,seq1.1,seq1.1,+,synonymous,267,521,522,523,89,GTA,GTT,E,E

In [62]:
# Connect both frames based on position
# column 4 should be the pileup results

nts = 'AGTCN'
mp[4]

0    .,...........,..,..,.,.,,^].
1       ,...........,..,..,.,.,,.
2       tTTTTTTTTTTTtTTtTTtTtTttT
3     ,...........,..,..,.,.,,...
Name: 4, dtype: object

In [61]:
def split(word):
    return list(word)

split(mp[4][2])

# apply

['t',
 'T',
 'T',
 'T',
 'T',
 'T',
 'T',
 'T',
 'T',
 'T',
 'T',
 'T',
 't',
 'T',
 'T',
 't',
 'T',
 'T',
 't',
 'T',
 't',
 'T',
 't',
 't',
 'T']