# VARify


## Workflow


<img src="wf.png" width="600">

## Exploring Data

In [211]:
import pandas as pd

# mpileup 
mp = pd.read_table('../data/test/mpiletest-out.txt', header=None)
mp = mp.rename(columns={1:"snp_pos", 4:"pileup"})

# custom out file
cf = pd.read_table('../data/test/snp_out.txt')

In [213]:
# mpileup file
mp

,0,snp_pos,2,3,pileup,5,6
0,seq1,521,G,26,".,...........,..,..,.,.,,^].",DJJJJJJJJJJJJJJJJJJJJJJJA7,]]]]]]]]]]]]]]]]]]]]]]]]]]
1,seq1,522,T,25,",...........,..,..,.,.,,.",JJJJJJJJJJJJJJJJJJJJJJJA7,]]]]]]]]]]]]]]]]]]]]]]]]]
2,seq1,523,A,25,tTTTTTTTTCTTtTTtTCtTtTttC,JJJJJJJJJJJJJJJJJJJJJJJA7,]]]]]]]]]]]]]]]]]]]]]]]]]
3,seq1,524,C,27,",...........,..,..,.,.,,...",JJJJJJJJJJJJJJJJJJJJJJJJG88,]]]]]]]]]]]]]]]]]]]]]]]]]]]

In [231]:
# column names
# cols = ['chr_id', 'snp_pos', 'ref_allele', 
#         'alt_allele', 'gene_id', 'mrna_id',
#         'prot_id', 'strand', 'effect', 
#         'snp_cds_pos', 'codon1_genome_pos',
#         'codon2_genome_pos', 'codon3_genome_pos', 
#         'snp_aa_pos', 'ref_codon','alt_codon', 
#         'ref_aa', 'alt_aa']

sub_cols = ['chr_id', 'snp_pos', 'ref_allele', 
            'alt_allele', 'codon1_genome_pos',
            'codon2_genome_pos', 'codon3_genome_pos', 
            'ref_codon']

# subset of custom file, cf
sub_cf = cf[sub_cols]
sub_cf

,chr_id,snp_pos,ref_allele,alt_allele,codon1_genome_pos,codon2_genome_pos,codon3_genome_pos,ref_codon
0,chr1,523,A,T,521,522,523,GTA

## Merging the two dataframes together

In [196]:
sub_mp = mp[['snp_pos','pileup']]
merged_var = pd.merge(cf, sub_mp, on='snp_pos')
merged_var

,chr_id,snp_pos,ref_allele,alt_allele,gene_id,mrna_id,prot_id,strand,effect,snp_cds_pos,codon1_genome_pos,codon2_genome_pos,codon3_genome_pos,snp_aa_pos,ref_codon,alt_codon,ref_aa,alt_aa,pileup
0,chr1,523,A,T,seq1,seq1.1,seq1.1,+,synonymous,267,521,522,523,89,GTA,GTT,E,E,tTTTTTTTTCTTtTTtTCtTtTttC

## Split Dataframe

Splitting the snpeff table by codons, get genome position and alt/ref codon

In [197]:
l = str(merged_var['pileup'][0])
# make upper
l = l.upper() # just to make simple

# Get list of unique
a = [i for i in l]
a_unique = list(set(a)) 

# # if >2 throw error
# if len(a_unique) > 2: 
#     print("More than 2 SNPs are at location.")
# else:

In [237]:
import pandas as pd

df = pd.DataFrame()

# create a dictionary
snp_dict = {}

temp = [i for i in cf['ref_codon'][0]]

for snp in a_unique:
    snp_dict['snp_pos'] = int(cf['snp_pos'][0]) # this would need to change

    snp_dict['varify_alt'] = snp
    for i in range(len(temp)):
        temp[i] = snp     
        snp_dict[f"varify_codon{i+1}"] = ''.join(temp)
        temp = [i for i in cf['ref_codon'][0]]
        
    df = df.append(snp_dict, ignore_index=True)
    snp_dict = {}

pd.merge(sub_cf, df, on='snp_pos')

,chr_id,snp_pos,ref_allele,alt_allele,codon1_genome_pos,codon2_genome_pos,codon3_genome_pos,ref_codon,varify_alt,varify_codon1,varify_codon2,varify_codon3
0,chr1,523,A,T,521,522,523,GTA,T,TTA,GTA,GTT
1,chr1,523,A,T,521,522,523,GTA,C,CTA,GCA,GTC

## Building class object

### To Do
* [x] output comparison
* [ ] Type Effect
* [ ] Make into Function
* [ ] Build larger test data
* [ ] Nextflow with Assembly/Sam to mpileup


### Notes
**Test Data:**
* Take processed mRNA transcript (FASTA) —> VCF w/ 2-3 SNPS

**Process:** 
* RNA FASTA -align to genome using gmap->SAM/BAM—>BAM -variantcalling-> VCF —> Capture Variants
* DNA FASTA -align to genome using gmap->SAM/BAM—>BAM -variantcalling-> VCF —> Capture Variants |—> Compare RV and GV

In [90]:
top_snp = majorSNP(merged_var)
top_strand = strand(top_snp)

In [91]:
snp_dict = {'confirmed_snp' : top_snp, 'confirmed_strand' : strand}
merged_var['confirmed_snp'] = top_snp
merged_var['confirmed_strand'] = top_strand

# proposed final output
merged_var.drop(columns='pileup')

,chr_id,snp_pos,ref_allele,alt_allele,gene_id,mrna_id,prot_id,strand,effect,snp_cds_pos,codon1_genome_pos,codon2_genome_pos,codon3_genome_pos,snp_aa_pos,ref_codon,alt_codon,ref_aa,alt_aa,confirmed_snp,confirmed_strand
0,chr1,523,A,T,seq1,seq1.1,seq1.1,+,synonymous,267,521,522,523,89,GTA,GTT,E,E,C,+

In [89]:
# majority snp
# class VARify():
def split(word):
    return list(word)

def majorSNP(merged_var):
    n=0
    arr = split(merged_var['pileup'][n])
    
    snps = pd.Series(arr).drop_duplicates().tolist()
    
    count = dict.fromkeys(snps, 0)

    for snp_key in snps:
        for arr_key in arr: 
            if snp_key == arr_key: 
                count[snp_key] = count.get(snp_key, 0) + 1
                
    top_snp = sorted(count)[0]
    return top_snp

# strand
def strand(x):
    pos = ['A','C','T','G', 'N']
    rev = ['a','c','t','g', 'n']
    if x in pos:
        return '+'
    if x in rev:
        return '-'
    
# grab all snps
#def uniqueSNP():
    # get the list of SNPs
    
    # split into unique
    

def combine(x):
    return print(*x, sep='')