# Scratch

In [1]:
import pandas as pd

# mpileup 
mp = pd.read_table('../data/test/mpiletest-out.txt', header=None)

# custom file
cf = pd.read_table('../data/test/snp_out.txt')

In [53]:
mp = mp.rename(columns={1:"snp_pos", 4:"pileup"})

In [63]:
sub_mp = mp[['snp_pos','pileup']]
pd.merge(cf, sub_mp, on='snp_pos')

,chr_id,snp_pos,ref_allele,alt_allele,gene_id,mrna_id,prot_id,strand,effect,snp_cds_pos,codon1_genome_pos,codon2_genome_pos,codon3_genome_pos,snp_aa_pos,ref_codon,alt_codon,ref_aa,alt_aa,pileup
0,chr1,523,A,T,seq1,seq1.1,seq1.1,+,synonymous,267,521,522,523,89,GTA,GTT,E,E,tTTTTTTTTTTTtTTtTTtTtTttT

In [64]:
#subset of cf
sub_cf = cf[['chr_id','snp_pos','ref_allele','alt_allele','gene_id','mrna_id','prot_id','strand','effect','snp_cds_pos']]

In [67]:
merged_var = pd.merge(sub_cf, sub_mp, on='snp_pos')

In [70]:
# Confirm Allele based on pileup 
# Calling this confirmed ALT
# confirmed Strand

arr = [i for i in merged_var['pileup']]

AttributeError: 'list' object has no attribute 'unlist'

In [4]:
# Connect both frames based on position
# column 4 should be the pileup results

nts = 'AGTCN'
mp[4]

0    .,...........,..,..,.,.,,^].
1       ,...........,..,..,.,.,,.
2       tTTTTTTTTTTTtTTtTTtTtTttT
3     ,...........,..,..,.,.,,...
Name: 4, dtype: object

In [61]:
def split(word):
    return list(word)

split(mp[4][2])

# apply

['t',
 'T',
 'T',
 'T',
 'T',
 'T',
 'T',
 'T',
 'T',
 'T',
 'T',
 'T',
 't',
 'T',
 'T',
 't',
 'T',
 'T',
 't',
 'T',
 't',
 'T',
 't',
 't',
 'T']